*{
	/*outline: 1px solid red; */
	font-family: 'Gloria Hallelujah', cursive, sans-serif;
}

#body{
	background-color: #f7edcb;
	background-image: url(../image/huellitas.png);
	
}

header
{
	position: relative;
	z-index:100;
}

section
{
	/*background: rgba(253, 224, 176, 0.18);*/
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	display: none;
	left:0;
	opacity:0;
}

.visible
{
	opacity:1;
	display: table;
}

.content
{
	display:table-cell;
	vertical-align: middle;
	padding: 120px 0; 
}



#saludo h1
{
	margin-bottom:120px;
}

#tablero{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 461px;
    height: 409px;
	margin: 10px;
}

#tablero .box{
	background: #edefca;
	width: 153px;
	cursor: pointer;
	transition: all 300ms ease;
	padding: 45px;
}

#tablero .box:hover {
	background: rgb(217, 181, 96);
}

#tablero .box i{
	font-size: 40px;
}

#movimientos{
	padding: 100px 0; 
}

h1 {
  font-size: 3em;
  color: #796161;
  text-transform: uppercase;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.navbar-default {
    background-color: rgb(169, 144, 100);
    border-color: #a2835b;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.w-M {
  font-size: 1em;
}
.br-0 {
  border-radius: 0px;
}
.stl-1-blue {
  background-color: transparent;
  border: 2px double #c9a74a;
  color: #dba01c;
  transition-duration: .4s;
}
.stl-1-blue:hover{  
  background-color: rgb(217, 181, 96);
;
  color: white;
}
.stl-1-blue:active{  
  background-color: rgb(217, 182, 65);
  color: #fdf1ac;
}
